body {
	font-family: "Times New Roman", Times, serif;
	color: #D18F4A;
}
table {
	border: 5px solid black;
}
html {
	background-color: #808080;
}
p { 
	font-size: 30px;
	color: #FFFFFF;
	text-align: center;
	text-indent: 50px;
	letter-spacing: 1px;
	word-spacing: 5px;
	font-weight: bold;
}
img {
	display: block;
	margin: auto;
	width: 40%;
}
nav {
	text-decoration: none;
	font-size: 30px;
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #333;
}
h1 {
	font-family: "Arial Black",Arial, sans-serif;
	font-size: 50px;
	text-align: center;
	color: #000000;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}
table {
	border: 5px solid black;
}